.contact-button {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  align-items: center;
  width: 160px;
  height: 40px;
  background: #ff6d74;
  color: #ffff;
  font-weight: 700;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
